<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Searcher</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav>
        <ul class="w-full flex justify-between bg-black h-20 text-white px-10 text-xl font-bold items-center ">
            <li class="hover:text-green-500"><a href="/">Sign Out</a></li>
            <li class="hover:text-green-500"><a href="/showTables">Show Tables</a></li>
        </ul>
    </nav>
</body>
</html>